
<form (ngSubmit)="onAddType()" [formGroup]="typeForm">
    <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" class="form-control" id="name" placeholder="Имя" formControlName="name" [ngClass]="{'has-error':
                      typeForm.get('name')?.invalid &&
                      typeForm.get('name')?.touched }">
                    <small class="form-tesxt text-muted">
                        Обязательное поле длинной 100 символов
                    </small>
    
                </div>
            </div>
        </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary"
                [disabled]="typeForm.invalid"
                >Сохранить</button>
                <button type="button" class="btn btn-danger ms-2"
                 *ngIf="id" (click)="delete()"
                >Удалить</button>
            </div>
      
    </form>