<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/'">My App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/'" [routerLinkActive]="'new-s'"
            [routerLinkActiveOptions]="{exact:true}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/note'" [routerLinkActive]="'new-s'" 
            [routerLinkActiveOptions]="{exact:false}">Записки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/types'" [routerLinkActive]="'new-s'" 
            [routerLinkActiveOptions]="{exact:true}">Список типов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/types/type'" [routerLinkActive]="'new-s'" 
            [routerLinkActiveOptions]="{exact:true}">Типы</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/info'" [routerLinkActive]="'new-s'" 
            [routerLinkActiveOptions]="{exact:true}">Info</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/weather'" [routerLinkActive]="'new-s'" 
            [routerLinkActiveOptions]="{exact:true}">Погода</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>