<div class="row">
    <div class="col-12">
        <button class="btn btn-primary float-end" (click)="linkToItem()">Новый</button>
    </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th >ID</th>
        <th >Название</th>
        <th >Текст</th>
        <th >Тип</th>
        <th >Время</th>
        <th >Время редактирования</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notes"(click)="linkToItem(note.id)"> 
        <td >{{note.id}}</td>
        <td>{{note.name}}</td>
        <td>{{note.noteText}}</td>
        <td>{{getTypeName(note.noteType)}}</td>
        <td>{{note.time}}</td>
        <td >{{note.updateTime}}</td>
      </tr>
     
    </tbody>
  </table>