
<form (ngSubmit)="save()" [formGroup]="noteForm">
    <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" class="form-control" id="name" placeholder="Имя" formControlName="name" [ngClass]="{'has-error':
                      noteForm.get('name')?.invalid &&
                      noteForm.get('name')?.touched }">
                    <small class="form-tesxt text-muted">
                        Обязательное поле длинной 100 символов
                    </small>
    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="noteText">Фамилия:</label>
                    <textarea type="text" class="form-control" id="noteText" placeholder="Текст" formControlName="noteText"
                        [ngClass]="{'has-error':
                noteForm.get('noteText')?.invalid &&
                noteForm.get('noteText')?.touched }"></textarea>
                    <small class="form-tesxt text-muted">
                        Обязательное поле длинной 100 символов
                    </small>
    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="patronymic">Тип:</label>
                    <select class="form-select" aria-label="Default select example" formControlName="noteType">
                        <option *ngFor="let type of types; " [ngValue]="type.id">{{type.name}}</option>
                    </select>
    
                </div>
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary"
                [disabled]="noteForm.invalid"
                >Сохранить</button>
                <button type="button" class="btn btn-danger ms-2"
                 *ngIf="id" (click)="delete()"
                >Удалить</button>
            </div>
        </div>
    </form>